html {
  background-color: #E9EFF3;
}

.table {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  background-color: #fff;
}

.title {
  color: #242056 !important;
  padding: 15px;
  font-weight: 900 !important;
  font-size: 12px !important;
}

.btn {
  background: #F26F21 !important;
  color: white !important;
  font-size: 10px !important;
  width: 70%;
}

.custom-class>* {
  background-color: #F26F21 !important;
}

.custom-class {
  background-color: #242056 !important;
}

.MuiSnackbar-anchorOriginTopCenter {
  top: 150px !important;
}